<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/Informacion/clientes-form/" method="POST"> 
        
        {% csrf_token %}

        <p> Nombre: <input type="text" name="cliente"></p>
        <p> Numero: <input type="text" name="numero"></p>
        <p> Direccion: <input type="text" name="direccion"></p>
        <p> Telefono: <input type="text" name="telefono"></p>
       
        <input type="submit" value="Enviar">

    </form>


</body>
</html>